* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    top: 0;
    z-index: 1000;
}

.logo a{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #0d6efd;
    padding: 17px 40px;
    text-decoration: none;
}

.logo-img{
    filter: brightness(0) invert(1);
    width: 50px;
    height: 50px;
}

#ss{
    color: white;
    font-size: 45px;
    font-weight: bold;
    position: relative;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
    background-color: white;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 6px; 
    transition: all 0.3s ease;  
    cursor: pointer;   
}

.search-btn{
    background: white;
    border: 1px solid #0d6efd;
    padding: 13px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    color: #2563EB;
    transition: 0.3s;
}

.search-btn:hover{
    background: #2563EB;
    color: white;
}

.get-started{
    color: white;
    background-color: #0d6efd;
    font-size: 22px;
    padding: 10px 30px ;
    border-radius: 10px;
    border: 2px solid #0d6efd;
    margin-left: 15px;
    margin-right: 40px;
}

.get-started:hover{
    cursor: pointer;
}

#home-section{
    position: relative;

    background-image:
        url("https://sol-soft-html.vercel.app/images/home1/c1.png"),
        url("banner-bg-image.jpg");

    background-repeat:
        no-repeat,
        no-repeat;

    background-size:
        100% auto,
        100% 95%;

    background-position:
        center 83%,     
        center -150px; 

    background-color: #f4f4f5;
}

.hero{
    height: 750px;
    display: flex;
    align-items: flex-start;
    padding-top: 120px;
    background: transparent;
}

.hero-content{
    max-width: 700px;
    margin-left: 180px;
}

.hero-content h3{
   color:#FFFFFF;
    text-shadow:0 4px 12px rgba(0,0,0,.35);
    font-size: 32px;
    margin-bottom: 20px;
}

.hero-content h1{
    color:#FFFFFF;
    font-size: 80px;
    line-height: 1.1;
    margin-bottom: 30px;
}

.hero-content p{
   color:#FFFFFF;
    text-shadow:0 4px 12px rgba(0,0,0,.35);
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.rm-btn{
    position: relative;
    overflow: hidden;
    width: 190px;
    height: 60px;
    background: white;
    color: #2563EB;
    border: none;
    border-radius: 6px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    transition: color 0.5s ease;
    border: 1px solid blue;
}

.rm-btn::after{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #2563EB;
    transition: 0.5s ease;
    z-index: -2;
}

.rm-btn:hover::after{
    left: 0;
}

.rm-btn:hover{
    color: white;
}

#three-cards{
    margin-top:-180px;
    padding-bottom:120px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:35px;
    flex-wrap:wrap;
    padding:0 70px;
}

.card::before{
    content: "";
    position: absolute;
    width: 180px;
    height: 180px;
    top: -90px;
    right: -90px;
    border: 8px solid #8db3ff;
    border-radius: 50%;
    transition: all 0.4s ease;
}

.card{
    position: relative;
    width: 282px;
    height: 350px;
    background: #fff;
    border-radius: 12px;
    padding: 38px 27px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,.12);
    transition: .4s;
}

.card:hover::before{
    border-color: #2563EB;
}

.card:hover{
    transform: scale(1.1);
    box-shadow:0 18px 45px rgba(0,0,0,.18);
    cursor: pointer;
}

.card-img{
    width:75px;
    margin-bottom:35px;
    transition:.6s;
}


.card:hover .card-img{
    transform:rotateY(180deg);
}

.card h3{
    font-size:28px;
    font-weight:700;
    color:#222;
    margin-bottom:25px;
}

.card p{
    font-size:18px;
    line-height:1.8;
    color:#8c8c8c;
    margin-bottom:35px;
}

.card .rm-btn{
    width:220px;
    height:60px;
    align-items: center;
    border: 1px solid blue;
}